/*-----------------------background------------------------*/
body{
    display: flex;
    background-image: url("assets/rose.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor:crosshair;
    
}

.container {
    display: flex; 
}

/*------------------------formulaire------------------------*/
#formulaire {
    display: flex;
    position: absolute;
    left: 25%;
    top:50%;
    bottom: 50%;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border: 2px solid black;
    background: white;
    width: 50%;
    height: 50%;
    z-index:10;
    font-family: 'Calligraffitti', cursive;
}

#formulaireTitle {
    font-size: 50px;
    margin-top: 3%;
}

#P1 {
    width: 300px;
    height: 50px;
    margin-bottom: 20%;
}

#start {
    width: 150px;
    height: 25px;
    margin-bottom: 5%;
    display: none;
}

#countdown {
    display: flex;
    position: absolute;
    left: 25%;
    top:50%;
    bottom: 50%;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border: 2px solid black;
    background: white;
    width: 50%;
    height: 50%;
    z-index:8;
    font-family: 'Calligraffitti', cursive;
    font-size: 300px;
}

/*-------------------------fruits--------------------------*/
.object:hover{
    display:none;
}

#pen{
    width: 55px;
    height: auto;
    animation: animpen 4s ease-in-out infinite;
    z-index: 2;
    position: absolute;
    display: none;
}

@keyframes animpen {
    0%{
        margin-top: 900px;
        margin-left: 1100px;
    }
    50%{
        margin-top: 200px;
        margin-left: 950px;
        transform: rotate(720deg);
    }
    100%{
        margin-top: 800px;
        margin-left:800px;
        transform: rotate(1440deg);
    }
}

#agenda {
    width: 70px;
    height: auto;
    animation: animagenda 4.5s ease-in-out infinite;
    z-index: 3;
    position: absolute;
    display: none;
}

@keyframes animagenda {
    0%{
        margin-top: 800px;
        margin-left: 10px;
    }
    50%{
        margin-top: 50px;
        margin-left: 200px;
        transform: rotate(-520deg);
    }
    100%{
        margin-top: 900px;
        margin-left:400px;
        transform: rotate(-1040deg);
    }
}

#mouse {
    width: 65px;
    height: auto;
    animation: animmouse 3s ease-in-out infinite;
    z-index: 4;
    position: absolute;
    display: none;
}

@keyframes animmouse {
    0%{
        margin-top: 900px;
        margin-left: 800px;
    }
    50%{
        margin-top: 100px;
        margin-left: 500px;
        transform: rotate(390deg);
    }
    100%{
        margin-top: 900px;
        margin-left:350px;
        transform: rotate(780deg);
    }
}

#laptop {
    width: 95px;
    height: auto;
    animation: animlaptop 3.5s ease-in-out infinite;
    z-index: 5;
    position: absolute;
    display: none;
}

@keyframes animlaptop {
    0%{
        margin-top: 700px;
        margin-left: 50px;
    }
    50%{
        margin-top: 50px;
        margin-left: 400px;
        transform: rotate(-400deg);
    }
    100%{
        margin-top: 800px;
        margin-left:650px;
        transform: rotate(-800deg);
    }
}

#manette {
    width: 70px;
    height: auto;
    animation: animmanette 4s ease-in-out infinite;
    z-index: 6;
    display: none;
}

@keyframes animmanette {
    0%{
        margin-top: 900px;
        margin-left: 350px;
    }
    50%{
        margin-top: 175px;
        margin-left: 500px;
        transform: rotate(-360deg);
    }
    100%{
        margin-top: 900px;
        margin-left:650px;
        transform: rotate(-720deg);
    }
}

/*-------------------------timer---------------------------*/
#timer{
    position: absolute;
    right: 45%;
    top: 10px;
    width: 150px;
    height: 50px;
    font-family: 'Calligraffitti', cursive;
    font-size: 40px;
    text-align: center;
}

/*-------------------------score---------------------------*/
#points{
    position: absolute;
    right: 30px;
    top: 20px;
    width: 120px;
    height: 50px;
    font-family: 'Calligraffitti', cursive;
    font-size: 30px;
    text-align: right; 
}


/*----------------------score final------------------------*/



